.react-datepicker-wrapper,
.react-datepicker__input-container,
.react-datepicker__input-container input {
	display: block;
	width: 96%;
	/* height: 40px; */
	margin-right: 14px;
}

input[type='text' i] {
	padding-left: 14px;
	padding-top: 16.5px;
	padding-bottom: 16.5px;
}
